<HTML>

<head>
    {{>head}}
    <title>Matcha</title>
</head>

<body>
    {{>nav this}}

    <div class="container-fluid">
        {{{body}}}
    </div>
    <script src="jquery-2.1.4.js"></script>
        <script src = "location.js"></script>
 <script src = "chat.js"></script>
 <script src = "notify.js"></script>
 <sript src = "distance.js"></sript>
 <script src = "notif.js"></script>
  <script src = "valid.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>


</HTML>
