<div class = "container">
    <form role = "form" action = "/confirm" method = "POST">
      <div class="form-group mt-5">
        <label for="exampleInputEmail1">Verification code</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter code" name = "code">
        <small id="emailHelp" class="form-text text-muted">Enter the verification code that was sent via email</small>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>