<div class = "container">
    <div class = "row">
            <form action = "deets" method = "POST">
            <p> Current username : {{username}}</p> <p> Change username : <input type = "text" name = "username"></p>
            <hr>
            <p> Current email : {{email}} </p> <p> Change email : <input type = "email" name = "email"></p>
            <hr>
            <p> Current age : {{age}}</p> <p> Change age: <input type = "number" min = "18" name = "age"></p>
        <hr>
        <button type = "submit"> change details</button>
        </form>
   </div>
</div>