
<div class="container">
  <h3> These users have viewed your profile </h3>
  <hr>
  <hr>
  <div class="row">
    <div class="col-sm-12 mt-50">
      <div class="panel panel-primary">
      {{#each pp}}
     <div class="panel-heading"><h5>{{this.username}} {{this.liked}}</h5></div> 
        <div class="panel-body"><img src="uploads{{this.path}}" class="img-responsive" style="width:350px" alt="Image"></div>
        {{/each}}
      </div>
    </div>
    </div>
    </div>
