<div id="bg-image"></div>
<div class="jumbotron mt-4 shadow">
  <h1 class="display-4"> Find your match today! </h1>
  <p class="lead"> Like, Chat and Connect! Swipe through thousands of singles in your area
    who share the same interests as you!
  </p>
</div>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <div class="card mb-4 card-container shadow">
      <div class="card-body text-center">
        <h5 class="card-title"> <i class="fas fa-heart card-icon"></i> </h5>
        <p class="card-text"> If you think you've found your match
          like their profile
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4">
    <div class="card mb-4 card-container shadow">
      <div class="card-body text-center">
        <h5 class="card-title"> <i class="fas fa-comments card-icon"></i> </h5>
        <p class="card-text"> Once your match has liked you back
          chat and get to know eachother </p>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4">
    <div class="card mb-4 card-container shadow">
      <div class="card-body text-center">
        <h5 class="card-title"> <i class="fas fa-hand-holding-heart card-icon"></i> </h5>
        <p class="card-text"> Meet up and see where the spark lands!
        </p>
      </div>
    </div>
  </div>
</div>


