<body data-spy="scroll" data-target="#myScrollspy" data-offset="1">

  <div class="container scroll-container">
    <div class="row">
      <nav class="col-sm-3 col-4" id="myScrollspy">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
            <a class="nav-link" href="#loca">Location</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#pp">Profilepic</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#section1">Gender</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="#section2">Relationship</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#section3">Relationship</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#section4">Age</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">More about you</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#section41">Bio</a>
              <a class="dropdown-item" href="#section42">tags</a>
            </div>
          </li>
        </ul>
      </nav>
      <div class="col-sm-9 col-8">
              <div id="loca" class="bg-info padding-inner">

          <div class="list-group">
            <h3>Allow Matcha to access your location </h3>
          <button onclick="getLocation()">Turn on Location</button>
        <p id = "demo"></p>
        <form action = "/locat" method = "POST">
        <input type = "hidden" name = "long" id = "long">
        <input type = "hidden" name = "lat" id = "lat">
        <input type = "hidden" name = "sav" id = "sav">
        <input type = "submit" name = "Allow Matcha access to your location">
        </form>
       </div>
        </div>
        <div id="pp" class="bg-info padding-inner">

          <div class="list-group">
           
             <h3> Upload a profile picture </h3>
              <hr style = "color:black">
      <form method = "POST" action = "/pp" enctype="multipart/form-data">
        <input type = "file" name = "filetoupload">
        <br>
         <button type = "submit" name = "submit"> Upload </button>
            </form>
            <form method = "POST" action = "/deleted">
            <button type = "submit" name = "submit"> Delete profile pic </button>
            </form>
       </div>

        </div>
     
        <div id="section1" class="bg-info padding-inner">

          <div class="list-group">

            <h3>
              Which label best describes you : </h3>
 <form role="form" method="POST" action="/loggedin">
              <button type="submit" value="nonbinary" name="nonbinary" class="btn btn-danger">nonbinary</button>
              <button type="submit" value="man" name="man" class="btn btn-danger">man</button>
              <button type="submit" value="woman" name="woman" class="btn btn-danger">woman</button>
              <button type="submit" value="genderfluid" name="genderfluid" class="btn btn-danger">genderfluid</button>
              <button type="submit" value="gendernonconforming" name="gendernonconforming" class="btn btn-danger">gendernonconforming</button>
              <button type="submit" value="other" name="other" class="btn btn-danger">other</button>
          </div>

        </div>
         <div id="section3" class="bg-secondary padding-inner">
          <h3>Who are you looking For:</h3>
          <button type="submit" value="exman" name="exman" class="btn btn-danger">Men exclusively</button>
          <button type="submit" value="exwomen" name="exwomen" class="btn btn-danger">Women exclusively</button>
          <button type="submit" value="gnc" name="gnc" class="btn btn-danger">gendernonconforming exclusively</button>
          <button type="submit" value="anyone" name="anyone" class="btn btn-danger">anyone</button>
          <button type="submit" value="gfle" name="gfle" class="btn btn-danger">genderfluid exclusively</button>
        </div>
        <div id="section4" class="bg-secondary padding-inner">
          <h3>What are you looking For:</h3>
          <button type="submit" value="casual" name="casual" class="btn btn-danger">casual-hookup</button>
          <button type="submit" value="long" name="long" class="btn btn-danger">long-term relationship</button>
          <button type="submit" value="friendship" name="friendship" class="btn btn-danger">friendship</button>
          <button type="submit" value="sub" name="sub" class="btn btn-danger">sub</button>
          <button type="submit" value="dom" name="dom" class="btn btn-danger">dom</button>
          <button type="submit" value="other" name="other" class="btn btn-danger">other</button>
        </div>
        <div id="section5" class="bg-info padding-inner">
          <h1>Age</h1>
          <p> Desired age range</p>
          <br>
          <div class="form-group">
            <label for "min"> Minimum </label>
            <input type="number" name="min" min="18" max="100">
            <br>
            <label for "min">Maximum </label>
            <input type="number" name="max" min="18" max="100">
            <br>
            <button type="submit" value="submitage" name="submitage" class="btn btn-danger"> Submit </button>
          </div>

        </div>
        <div id="section41" class="bg-secondary padding-inner">
          <h1>Bio</h1>
          <p>Give us a short description of yourself, what you do and what you're looking for</p>
          <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="bio"></textarea>
            <button type="submit" value="submitbio" name="submitbio" class="btn btn-danger"> Submit </button>
          </div>
        </div>
        <div id="section42" class="bg-info padding-inner">
          <h1>Interest tags</h1>

   <label class="checkbox-inline"><input type="checkbox" name = "tags" value="food"> #Food<i class="fas fa-apple-alt"></i> </label>
<label class="checkbox-inline"><input type="checkbox" name = "tags" value="music">#music<i class="fas fa-music"></i></label>
<label class="checkbox-inline"><input type="checkbox" name = "tags" value="politics">#politics<i class="fab fa-galactic-republic"></i></label>
  <label class="checkbox-inline"><input type="checkbox" name = "tags" value="sports">#sports<i class="fas fa-futbol"></i> </label>
<label class="checkbox-inline"><input type="checkbox" name = "tags" value="netflix">#netflixandchill <i class="fas fa-tv"></i></label>
<label class="checkbox-inline"><input type="checkbox" name = "tags" value="family">#family<i class="fas fa-child"></i></label>

    <button type="submit" value="submittags" name="submittags" class="btn btn-danger"> Submit </button>
             {{!-- <button type="submit" value="food" name="food" class="btn btn-outline-dark">#Food<i class="fas fa-apple-alt"></i></button>
              <button type="submit" value="music" name="music" class="btn btn-outline-dark">#music<i class="fas fa-music"></i></button>
              <button type="submit" value="politics" name="politics" class="btn btn-outline-dark">#politics<i class="fab fa-galactic-republic"></i></button>
              <button type="submit" value="sports" name="sports" class="btn btn-outline-dark">#sports<i class="fas fa-futbol"></i></button>
              <button type="submit" value="netflix" name="netflix" class="btn btn-outline-dark">#netflixandchill <i class="fas fa-tv"></i></button>
              <button type="submit" value="family" name="family" class="btn btn-outline-dark">#family<i class="fas fa-child"></i></button> --}}
        </div>
        </form>
      </div>
    </div>
  </div>
  <a href="/deets">
    <h1>Change login details</h1>
  </a>

</body>