<div class = "container">
    <div class = "row">
        Write a short message explaining why you are reporting this member
        and our team will review your case
        <br>
        <form action = "/report" method = "POST">
        <input type = "hidden" name = "rpyo" value = "rpyo">
        <input type = "text" name = "message">
        <button type = "submit"> Send </button>
        </form>
    </div>
</div>