<div class = "container">
    <form role = "form" action = "/signup" method = "POST">

 <div class="form-group mt-5">
        <label for="firstname">First name</label>
        <input type="text" class="form-control" id="firstname" placeholder="Enter your first name" name = "firstname" required>
        {{#if error}}
      Your first name can not contain any numbers or special characters
        {{/if}}
      </div>
      <div class="form-group">
        <label for="lastname">Last name</label>
        <input type="text" class="form-control" id="lastname" placeholder="Enter your last name" name = "lastname" required>
        </div>
        <div class="form-group">
        <label for="Username">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Username" name = "username" required>
      </div>
      <div class="form-group">
        <input type = "hidden" name = "_csrf" value = "{{csrf}}">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name = "email" required>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name = "password" required>
      </div>
         <div class="form-group">
        <label for="exampleInputAge1">Age</label>
        <input type="number" class="form-control" min = "18" id="exampleInputPassword1" placeholder="age" name = "age" required>
                        <small id="emailHelp" class="form-text text-muted">You must be 18 and over to sign up</small>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>